{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add a New Ebook</h4>
                <form method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="author" class="form-label">Author</label>
                        <input type="text" class="form-control" id="author" name="author" required>
                    </div>
                    <div class="mb-3">
                        <label for="genre" class="form-label">Course</label>
                        <input type="text" class="form-control" id="course" name="course" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                    </div>
                    
                    <div class="mb-3">
                        <label for="image" class="form-label">Upload Book Image</label>
                        <input type="file" class="form-control" id="image" name="image" accept="image/*">
                    </div>

                    <div class="mb-3">
                        <label for="pdf" class="form-label">Upload PDF File</label>
                        <input type="file" class="form-control" id="pdf" name="pdf" accept=".pdf">
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Add Ebook</button>
                    </div>
                    <div class="text-center mt-3">
                        <p><a href="{{ url_for('add_book') }}">Add Book</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
